numpy
pillow
scikit-learn
tqdm
albumentations
matplotlib
torchsummary
ipyvolume
ipython_genutils
plotly
numba
pytorch-lightning
gdown
nvitop
scipy 
pyyaml 
imageio 
tensorboard
transformers
h5py
deformable-attention